* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #e8e8e8;
  padding: 168px 0 0 0;
  background: url('../img/project-2/Ellipse\ 1\ copy.png') 50% 130px no-repeat;

}

.content {
  max-width: 841px;
  margin: 0 auto;
}

.content div:last-child {
  padding: 0 0 100px 0;
}

.content-top {
  text-align: center;
  margin: 0 0 65px 0;
}

.content-top__category {
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: rgba(39, 61, 70, 0.6);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content.top__title {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  max-width: 725px;
  margin: 0 auto;
}

.content-image {
  box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
  background-color: white;
  padding: 10px;
  margin: 0 0 85px 0;
}

.content-image img {
  max-width: 100%;
}

.content-bottom {
  margin: 0 45px;
}

.content-bottom__text {
  font-size: 24px;
  line-height: 40px;
  color: #53646b;
  margin: 0 0 48px 0;
}

.content-bottom__text p {
  margin: 0 0 40px 0;
}

.content-bottom__text p:last-child {
  margin: 0;
}

.content-bottom-list-info {
  margin: 0 0 59px 0;
}

.content-bottom-list-info li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: url("../img/project-2/icons/check\ icon.png") 0 0 no-repeat;
  padding: 0 0 0 35px;
  margin: 0 0 15px 0;
}

.content-bottom-list-info li:last-child {
  margin: 0;
}

.content-bottom-list-info li:nth-child(1) {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
  color: #273d46;
}
.content-bottom-list-info li:nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}

.content-bottom-list-info li:nth-child(3) {
  color: #273d46;
  font-weight: 700;
}
.content-bottom-list-info li:nth-child(4) {
  color: rgba(39, 61, 70, 0.3);
  text-decoration: line-through;
}

.content-bottom-list-info li:nth-child(4) span {
  opacity: 0.3;
}

.content-bottom-list-info li:hover{
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/project-2/icons/check\ icon-2.png") 0 0 no-repeat;
  color: red;
  text-decoration: none;
  text-shadow: none;
  font-style: unset;
  font-weight: 400;
}

.content-bottom-list-info li:nth-child(4) span:hover {
  opacity: 1;
}

.content-bottom-info__link {
  height: 44px;
  padding: 0px 30px;
  line-height: 44px;
  background-color: #80b7b3;
  border-radius: 24px;
  display: inline-block;
  box-shadow: 0px 6px 40px 0 rgba(128, 183, 179, 0.54);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content-bottom-info__link:hover{
  background-color: #3a5856;
}

.content-bottom-info__link:active{
  background-color: #818181;
}

.content-bottom-info__link span{
    background: url('../img/project-2/icons/Shape\ 2.png') right no-repeat;
    padding: 2px 32px 0 0;
}